// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: url('fresh-fruits-vegetables-2419.jpg');
	text-align: center;
}

.about {
	background-color: white;
	margin: 0 auto;
	border: 3px solid green;
	width: 800px;
	position: center, auto;
}

.title {
	font-size: 30px;
}